<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - .NET PlayGround</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" style="justify-content: center">
                <a id="HeaderChange" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">.NET PlayGround 8.0</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="text-align: center; width: 100%; bottom: 0px; position: fixed;">
        <div class="container">
            &copy; 2024 - .NET PlayGround - Umesh Kr. Singh
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    :root {
        --finwallapp-green: #00dfa3;
        --finwallapp-red: #f73563;
        --finwallapp-yellow: #ffbd17;
        --finwallapp-blue: #3c63e2;
        --finwallapp-rounded: 20px;
        --finwallapp-padding: 15px;
        --finwallapp-input-rounded: 10px;
        --finwallapp-theme-color-grad-1: #57bdff;
        --finwallapp-theme-color-grad-2: #4f77fb;
        --finwallapp-theme-color-grad-3: #6528cf;
        --finwallapp-theme-color: #6500d8;
        --finwallapp-theme-text: #ffffff;
        --finwallapp-theme-text-primary: #000000;
        --finwallapp-theme-text-secondary: #000000;
        --finwallapp-theme-text-secondary-light: #212529;
        --finwallapp-theme-bordercolor: rgba(0, 0, 0, 0.1);
        --finwallapp-header: transparent;
        --finwallapp-header-active: #ffffff;
        --finwallapp-footer: #ffffff;
        --finwallapp-sidebar: var(--finwallapp-theme-color);
        --finwallapp-card-color: #ffffff;
        --finwallapp-page-bg-1: #ffffff;
        --finwallapp-page-bg-2: #eff6f9;
        --finwallapp-page-bg-3: #faf0fb;
        --finwallapp-page-text: #000000;
        --finwallapp-page-link: var(--finwallapp-theme-color);
    }

    .theme-radial-gradient {
        background: -moz-radial-gradient(30% 30%, ellipse cover, var(--finwallapp-theme-color-grad-1) 0%, var(--finwallapp-theme-color-grad-2) 50%, var(--finwallapp-theme-color-grad-3) 100%);
        background: -webkit-radial-gradient(30% 30%, ellipse cover, var(--finwallapp-theme-color-grad-1) 0%, var(--finwallapp-theme-color-grad-2) 50%, var(--finwallapp-theme-color-grad-3) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--finwallapp-theme-color-grad-1)', endColorstr='var(--finwallapp-theme-color-grad-3)',GradientType=1 );
    }

</style>