<div>
    -radio button
-set radio default
-deactive mode

-checkbox
checkbox default
-deactive mode

- multiple selection
- multiple selection with deactive 

-bootstrap models 
-different size models

insert data in database from a table 

excel upload and download

RDLC/HTML report
</div>

<html>
    <body style="background:#d3d3ff;" >
        <p> Tree structure like structire </p>
        <p>Jumping ball game</p>
        <p>drag & drop </p>
    </body>
</html>




