@{
    ViewData["Title"] = "Home Page";
}

<div id="MainPage">
    <div id="ProblemList">
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="CreateConnectionString">
                ╰┈➤ Create dynamic ConnectionStrings
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="CreateDb">
                ╰┈➤ Create dynamic Database
            </a>
        </div>
    </div>
</div>