@{
    ViewData["Title"] = "Home Page";
}

<div id="MainPage">
    <div id="ProblemList">
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="CreateConnectionString">
                ╰┈➤ Create dynamic ConnectionStrings
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="CreateDb">
                ╰┈➤ Create dynamic Database
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="Firebase">
                ╰┈➤ Firebase Authentication, Storage & Realtime Database
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="Excel">
                ╰┈➤ Excel File Upload & Download
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="Frontend">
                ╰┈➤ Fun With Html, CSS & JS
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="HtmlReport">
                ╰┈➤ Create HTML Report
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="SpeedCheck">
                ╰┈➤ Internet Speed Check
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="HTMLcssJS">
                ╰┈➤ Dynamic Graph
            </a>
        </div>
        <div>
            <a asp-controller="JWT" asp-action="JWTlogin">
                ╰┈➤ JWT Authentication
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="HTMLcssJS">
                ╰┈➤ Crud Razor Pages
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="HTMLcssJS">
                ╰┈➤ Crud ADO.Net
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="HTMLcssJS">
                ╰┈➤ Crud Linq query
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="HTMLcssJS">
                ╰┈➤ Crud Dapper
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="HTMLcssJS">
                ╰┈➤ Email Validation
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="HTMLcssJS">
                ╰┈➤ Mobile OTP Validation
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="HTMLcssJS">
                ╰┈➤ Google/Insta Authentication
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="HTMLcssJS">
                ╰┈➤ File Upload all type
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="HTMLcssJS">
                ╰┈➤ Camera Access
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="HTMLcssJS">
                ╰┈➤ Payment Integration
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="HTMLcssJS">
                ╰┈➤ Map Integration
            </a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="DynamicPage" asp-route-page="ThermalPrint">
                ╰┈➤ ThrmalPrint
            </a>
        </div>
    </div>
</div>